<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/sign.js" defer ></script>
    <title>Document</title>
</head>
<body>
    <input id = "sign_id" type="text" placeholder="아이디" ><br>
    <input id = "sign_pw" type="text" placeholder="비밀번호 "><br>
    <button class="sign_btn">회원가입</button>
</body>
</html>